[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WeightedTreemaps"]
	path = WeightedTreemaps
	url = https://github.com/m-jahn/weightedtreemaps
